<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <!--====== jsonPathwayDataというサーブレットを定義 ======-->
    <servlet-name>jsonPathwayData</servlet-name>
    <servlet-class>jp.levelfive.samples.cytoscape.server.JsonPathwayData</servlet-class>
  </servlet>

  <servlet-mapping>
    <!--====== /pathwayというURLに関連付け ======-->
    <servlet-name>jsonPathwayData</servlet-name>
    <url-pattern>/samplecytoscapejs/pathway</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SampleCytoscapeJs.html</welcome-file>
  </welcome-file-list>

</web-app>
